<table class="table table-condensed"> 
	<thead> 
				<tr> 
					<th>ID</th> 
					<th>Name</th> 
					<th>Available</th> 
					<th></th>
				</tr> 
			</thead> 
			<tbody> 
				<% @foods.each do |food| %> 
				<tr> 
					<td><%= food.id %></td>
					<td><%= link_to food.name, food_path(food) %></td><td><%= food.availability %></td> 
					<td><%= link_to "edit", edit_food_path(food) %>
					</td> 
				</tr> 
				<% end %>
		 </tbody> 
	 </table>