<div class="row">
	<h1 class="text-center"> Dashboard </h1>
<div class="col-md-4">
	<h3 class="text-center">
		My food <%= link_to "New Food", new_food_path, class: "btn btn-primary btn-sm" %>
	</h3>
			<%= render 'foods' %>
			
</div>
<div class="col-md-4">
	<h3 class="text-center">Purchased</h3>
	<%= render 'purchased' %>
</div>
<div class="col-md-4">
	<h3 class="text-center">Sold</h3>
	<%= render 'sales' %>
</div>